{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Selecciona la red a la que quieres conectarte:</p>

    <a class="ui red button" href="{{ path('simple_saml_security_login') }}">
        <i class="sign in icon"></i>
        Universidad de Córdoba
    </a>
{% endblock %}

{% block error %}
    {% if error %}
        <div class="ui negative icon message">
            <i class="ban icon"></i>
            <div class="content">
                <div class="header">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                <ul class="list">
                    <li>Compruebe que está dado de alta en la aplicación.</li>
                    <li>En caso de duda, acuda al CEEPS.</li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}